body {
  font-family: 'Calibri', sans-serif;
  background-image: url("dark_circuit.gif");
  display: flex;
  justify-content: center;
}

.foreground {
  max-width: 1152px;
  margin: 10px auto;
  background-color: rgba(153, 238, 255, 0.9);
  border-radius: 20px;
  box-shadow: 10px 5px;
  padding: 3px 10px 5px 10px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

header {
 margin-top: 10px;
}

.prime {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  border-bottom: 5px solid rgba(153, 238, 255, 1);
  padding-bottom: 5px;
  margin: 10px 10px 0px 10px;
  text-align: center;
}


footer {
  border-top: 5px solid rgba(153, 238, 255, 1);
}

nav {
  text-align: center;
  padding-top: 5px;
}

ul {
  list-style-type: square;
}

li {
  margin: 1%;
}
.navlink {
   border: 1px solid rgba(163, 240, 255, 1);
   padding: 0px 5px 0px 5px;
}
