body {
  font-family: 'Calibri', sans-serif;
  margin: 5;
  background-color: lavender;
  border: 2px solid purple;
}

h1 {
  text-align: center;
  border-bottom: 5px solid #000000;
  padding: 20px
}

h3 {
  padding: 0;
}
.position {
  font-style: italic;
}
