/* Give your page a fun background color */
body {
  background-color: lavender;
}

/* Make the header and footer a different color from the background */
header {
  background-color: purple;
  color: lavender;
}

.middle {
  display: flex;
}

footer {
  background-color: purple;
  text-align: center;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}

/* Make your p tag a different color and italic */
p {
  color: lavender;
  font-style: italic;
}

/* Put a border around your image */

img {
  border: 10px solid purple;
  border-radius: 5px;
  float: right;
}

/* Change the font-family of your list */
ul {
  color: purple;
  font-family: papyrus;
  float: left;
}
