/* Styling for page layout and color scheme */
body {
    font-family: 'Calibri', sans-serif;
    background-image: url("../../assets/images/dark_circuit.gif");
    display: flex;
    justify-content: center;
}

header {
	background-color: rgba(143, 238, 255, 1);
    display: inline-flex;
    justify-content: center;
	width: 100%;
	height: 50px;
	position: fixed;
	box-shadow: 0px 5px 10px 20px rgba(143, 238, 255, 1);
	top: 0;
	left: 0;
}

.foreground {
    max-width: 95%;
    margin: 100px auto 30px auto;
    background-color: rgba(153, 238, 255, 0.9);
    border-radius: 20px;
    padding: 5px 10px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

footer {
	background-color: rgba(143, 238, 255, 1);
	box-shadow: 0px 5px 10px 20px rgba(143, 238, 255, 1);
	font-size: 14px;
	text-align: center;
	padding-bottom: 10px;
}

/* .intro {
    text-align: center;
}

.prime {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    border-bottom: 5px solid rgba(153, 238, 255, 1);
    padding-bottom: 5px;
    margin: 10px 10px 0px 10px;
    text-align: center;
}



nav {
    text-align: center;
    padding-top: 5px;
}

ul {
    list-style-type: square;
}

li {
    margin: 1%;
} */

