
.section {
    border: 5px solid rgba(153, 238, 255, 1);
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    max-width: 100%;
    width: auto;
    min-width: 50%;
}

h1 {
  margin-top: -35px;
  margin-bottom: 5px;
  text-align: center;
}

.intro {
  text-align: center;
  margin: 2px 0px;
}

h2 {
  margin: 0px;
  text-align: center;
}

h3 {
  margin: 0px;
  margin-bottom: -10px;
}

.job {
  font-style: italic;
  margin-bottom: -15px;
}

.job-description {
  margin-left: 10px;
}


.education {
  margin: 10px;
  font-style: italic;
}

.skillsCol {
  columns: 3;
}

.contact-info {
  margin: 0px;
  font-size: .75em;
  text-align: center;
}

.download-link {
  text-align: right;
  margin-top: 10px;
}