body {
  background-color: darkgrey;
  display: block;
  justify-content: space-around;
}

header {

  background-color: rgba(204, 0, 41, 1);
  border-radius: 20px;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main {

  margin: 5% auto 5% auto;
  padding: 2.5%;
  border: solid 5px black;
  border-radius: 20px;
  background-color: rgba(204, 0, 41, .3);
}

#garage_list {

  padding-right: 40px;
}

h1 {

  margin-bottom: 0px;
}

h2 {

  margin-top: 0px;
}

h3 {

  margin-bottom: 0px;
}

h4 {

  margin-top: 0px;
  margin-bottom: 0px;
}

.car_image {

  max-width: 100%;
  height: auto;
  opacity: 0;
}

.input_table {

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.info_field {

  outline: none;
  border: solid 5px black;
  border-radius: 10px;
  background-color: rgba(204, 0, 41, 1);
  text-align: center;
  font-weight: bold;
  font-size: .5em;
  font-size: 1vw;
}

.submit_button {

  display: block;
  outline: none;
  border: solid 5px black;
  border-radius: 10px;
  background-color: rgba(204, 0, 41, 1);
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 1em;
  font-size: 2vw;
}

.view_button {

  display: inline-block;
  outline: none;
  border: solid 5px black;
  border-radius: 10px;
  background-color: rgba(204, 0, 41, 1);
  font-weight: bold;
  margin-left: 1%;
}
