body {
  background-color: lightBlue;
}

header {
  background-color: orange;
}

.middle {
  display: flex;
}

.questions {
  display: block;
  align-self: flex-start;
  margin-right: .5%;
}

li {
  margin-bottom: 5%;
}

.info {
  align-self: end;
  border: 5px solid orange;
  border-radius: 10px;
  margin-left: .5%;
  margin-right: 0%;
  padding: 0%;
  text-align: center;
}

h2 {
  background-color: red;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: lightBlue;
  margin: 0%;
}

img {
  width: 100%;
  height: auto;
  margin: 0%;
}

h3 {
  background-color: red;
  color: lightBlue;
  margin: 0%;
  margin-top: -4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
